body{
    font-family:monospace;
}

/* NAVBAR SECTION */
.navbar a{
    color:black;
    font-weight:bold;
    font-size:200%;
}

.navbar .navbar-collapse{
    text-align:center;
    background-color:#dbdbdb;
    border: 4px solid black;
}

.navbar-toggler-icon{
    border: 4px solid black;
    background-color:#2e3192;
}

.navbar-toggler{
    border: 4px solid black;
    background-color:#dbdbdb;
}

.dropdown-menu{
    background-color:#dbdbdb;
}


/* Body */
#state-title{
    color:black;
    font-weight:bold;
    font-size:250%;
    width:auto;
    margin:auto;
}


/* SVG Styles */

.cls-1,
.cls-2,
.cls-3,
.cls-4 {
  stroke: black;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4 {
  stroke-miterlimit: 50;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4 {
  pointer-events: visibleFill;
}

.cls-1:hover,
.cls-2:hover,
.cls-3:hover,
.cls-4:hover {
  fill: black;
  cursor:pointer;
}

.cls-1 {
  fill: #ed1c24;
}

.cls-2 {
  fill: #2e3192;
}

.cls-3 {
  fill: #9e005d;
}

.cls-4 {
  fill: #009245;
}



/* Makerspace List Section*/

#list-title{
    background-color: #dbdbdb;
    color:black;
    font-weight:bold;
    border:4px solid black;
    width:auto;
    margin:auto;
}

.space-name{
    font-weight:bold;

}

.list-col{
    border:2px solid red;
}

.space-name{
    color:#009245;
}
.space-link{
    color:#2e3192;
word-wrap:break-word;
}

/* About and Contact Pages */
#about-title{
    background-color: #dbdbdb;
    color:black;
    font-weight:bold;
    font-size:300%;
    border:2px solid black;
    width:auto;
    margin:auto;
}

#about-text{
    background-color: #dbdbdb;
    color:color;
    font-weight:bold;
    font-size:150%;
    border:2px solid black;
}


#contact-title{
    background-color: #dbdbdb;
    color:black;
    font-weight:bold;
    font-size:300%;
    border:2px solid black;
    width:auto;
    margin:auto;
}

#github-link{
    color:#2e3192;
    font-weight:bold;
    font-size:200%;
}

.btn {
    background-color:#009245;
    font-weight:bold;
    font-size:200%;
    color:black;
    border:2px solid black;
}

#btn-title{    
    font-weight:bold;
    font-size:200%;
}