body{
    font-family:monospace;
}


/* NAVBAR SECTION */
.navbar a{
    color:black;
    font-weight:bold;
    font-size:150%;
}

.navbar .navbar-collapse{
    text-align:center;
    background-color:#dbdbdb;
    border: 4px solid black;
}

.navbar-toggler-icon{
    border: 4px solid black;
    background-color:blue;
}

.navbar-toggler{
    border: 4px solid black;
    background-color:#dbdbdb;
}

.dropdown-menu{
    background-color:#dbdbdb;
}

/* MAP SECTION */
#map-section{
    border: 4px solid blue;
}

.map-svg{
    border: 2px solid orange;
}

.state-name{
    color:black;
    font-weight:bold;
    font-size:200%;

}

.state{
    pointer-events:visibleFill; 
}

.state:hover{
    fill:black;
}


/* LIST SECTION */

#list-header{
    font-weight:bold;
    font-size:200%;
}

#list-title{
    font-weight:bold;
    font-size:200%;
}

table{
    background-color: #dbdbdb;
    color:black;
    font-weight:bold;
}

thead{
    background-color: #dbdbdb;
    color:black;
    font-weight:bold;
    font-size:150%;
    border:4px solid black;
}

/* tbody{
    background-color: #dbdbdb;
    color:black;
    font-weight:bold;
    font-size:150%;
    border:2px solid black;
} */
th{
    /* background-color: #dbdbdb; */
    color:blue;
    font-weight:bold;
    font-size:150%;
    border:2px solid black;
}

td{
    /* background-color: #dbdbdb; */
    color:blue;
    font-weight:bold;
    font-size:150%;
    border:2px solid black;
}

#about-title{
    background-color: #dbdbdb;
    color:blue;
    font-weight:bold;
    font-size:200%;
    border:2px solid black;
    width:auto;
    margin:auto;
}
#about-text{
    background-color: #dbdbdb;
    color:blue;
    font-weight:bold;
    font-size:150%;
    border:2px solid black;
}
#contact-title{
    background-color: #dbdbdb;
    color:blue;
    font-weight:bold;
    font-size:200%;
    border:2px solid black;
    width:auto;
    margin:auto;
}
#github-link{
    color:blue;
    font-weight:bold;
    font-size:150%;
}

#contact-form{
    color:blue;
    font-weight:bold;
    font-size:150%;
}

#form-block{
    background-color: #dbdbdb;
    border:2px solid black;
}