:root {
  --bg-color: white;
  --nav-font-color: black;
  --font-color: black;
  --nav-bg-color: #dbdbdb;
  --icon-color: black;
  --border-color: black;
  --state-1-color: #ed1c24;
  --state-2-color: #2e3192;
  --state-3-color: #9e005d;
  --state-4-color: #009245;
  --state-hover-color: black;
  --state-stroke-color: black;
  --active-color: var(--state-4-color);
  --font-family: monospace;
}

/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-size: 100%;
  margin: 0;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  color: var(--active-color);
  cursor: pointer;
}

button {
  background-color: var(--bg-color);
}

button:hover {
  cursor: pointer;
  background-color: var(--active-color);
}

/* PAGE STYLES */
#page-header {
  text-align: center;
  margin-top: 1rem;
}

#page-header h1 {
  margin: 0;
  font-size: 2rem;
}

#page-header p {
  font-size: 1.4rem;
}

#page-content {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* US MAP DIV */
/* Contains state list, state list button and map svg */
#us-map-div {
  width: 60rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#state-list-show-button.hidden-div {
  display: none;
}

#state-list-show-button {
  border: 4px solid black;
  font-family: var(--font-family);
  font-size: 1.8rem;
  margin-top: 1rem;
  vertical-align: middle;
}

#state-list-close-button {
  border: 4px solid black;
  font-family: var(--font-family);
  font-size: 1.8rem;
  vertical-align: middle;
}

#state-list-div.hidden-div {
  display: none;
}

#state-list-div {
  border: 4px solid black;
  background-color: var(--bg-color);
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.state-list-button {
  border: 4px solid black;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* US SVG MAP */
#us-map.hidden-div {
  display: none;
}

#us-map {
  padding: 1rem;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4 {
  stroke: var(--state-stroke-color);
  stroke-miterlimit: 20;
  pointer-events: visibleFill;
}

.cls-1:hover,
.cls-2:hover,
.cls-3:hover,
.cls-4:hover {
  fill: var(--state-hover-color);
  cursor: pointer;
}

.cls-1 {
  fill: var(--state-1-color);
}

.cls-2 {
  fill: var(--state-2-color);
}

.cls-3 {
  fill: var(--state-3-color);
}

.cls-4 {
  fill: var(--state-4-color);
}

/* MAKERSPACE LIST */
#space-list-div.hidden-div {
  display: none;
}

#space-list-div {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#list-header {
  border: 4px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#list-header h2 {
  margin: 0;
  color: var(--font-color);
  text-align: center;
  font-size: 2rem;
}

#list-header a {
  border: 4px solid black;
  font-size: 2rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#list-content {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.list-row {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

/* .list-row span {
  width: 40%;
}

.list-row a {
  width: 60%;
} */

.col-name {
  font-weight: bold;
  color: var(--state-4-color);
}

.col-link {
  color: var(--state-2-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  #space-list-div {
    width: 100%;
  }

  #list-content {
    width: 100%;
  }

  .list-row {
    flex-direction: column;
  }

  .list-row span {
    width: 100%;
  }

  .list-row a {
    width: 100%;
  }
}

@media screen and (orientation: portrait) {
  #us-map-div {
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  #us-map-div {
    width: 80%;
  }
}
